body {
  background-color: antiquewhite;
  text-align: center;
}
.explain {
  text-align: left;
  margin-left: 30%;
}
.counter {
  font-size: 150%;
  margin-bottom: 10%;
}
.sentence {
  font-size: 150%;
  text-align: center;
}
.sentenceEnglish {
  font-size: 150%;
  text-align: center;
}
.sentence-jp {
  font-size: 150%;
  text-align: center;
}
.miss-score {
  font-size: 150%;
  text-align: center;  
}
.persent {
  font-size: 150%;
  text-align: center;
}
pre {
  font-size: 150%;
  text-align: center;
}
.typed {
  color: lightskyblue;
}
.JP {
  width: 300px;
  height: 100px;
}
.EN {
  width: 300px;
  height: 100px;
}
.set-time {
  width: 200px;
  height: 50px;
}